<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ImageMetrics</title>
</head>
<body>
    
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">ImageMetrics</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Header -->
    <section class="feat-header py-3">
        <div class="container grid">
            <div>
                <h1 class="head-main">About</h1>
                <p class="head-intro">
                    We can help you unlock the secrets of your photographs without putting your data or images at risk.
                </p>
            </div>
            <div class="image-icon">
                <i class="fa fa-image fa-10x"></i>
            </div>
        </div>
    </section>

    <!-- Features -->
    <section class="feat-discript my-2">
        <div class="container grid grid-3">
            <div class="card flex">
                <i class="fas fa-photo-film fa-4x"></i>
                <p>
                    ImageMetrics gets the data behind your images. This is done in a 
                    way that doesn't expose your images to others and your images' 
                    data isn't stored on a server for others to find. You have the option 
                    to export your data for you to store locally, but it is not stored 
                    by ImageMetrics.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-camera-retro fa-4x"></i>
                <p>
                    ImageMetrics will let you know if your image was taken with a cellphone and 
                    tell you which model, GoPro, or a digital camera, such as a Nikon or Canon. 
                    It will let you know the software version of the device that captured the picture.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-location fa-4x"></i>
                <p>
                    ImageMetrics will pin-point the map coordinates of where you image 
                    was captured.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-calendar-days fa-4x"></i>
                <p>
                    ImageMetrics gives you the date and time the image was captured. It also 
                    provides the date and time when the image was digitized.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-gauge-high fa-4x"></i>
                <p>
                    ImageMetrics provides various information about the camera's aperture for 
                    your specific image. It will provide the details about the aperature's value
                    and the aperture's speed.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-sliders fa-4x"></i>
                <p>
                    ImageMetrics provides information on shutter speed, exposure mode, image file 
                    name, ISO speeds, compression, image dimensions, sharpness, saturation, and 
                    many more data points about your image.
                </p>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-footer text-center py-5">
        <div class="container grid grid-3">
            <div>
                <h1>ImageMetrics</h1>
                <p>Copyright &copy; 2022</p>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="#">
                    <i class="fab fa-github fa-3x"></i>
                 </a>
            </div>
        </div>
    </footer>
</body>
</html>