<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ImageMetrics</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>
<body>
    
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">ImageMetrics</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!--Main-->
    <section class="main">
        <div class="container grid">
            <div class="main-text">
                <h1>Unlock an Image's Details</h1>
                <p>Easily upload your image to get an analysis of how and where it was captured.</p>
            </div>

            <div class="main-form card">
                <h2>Upload Image</h2>
                <form method="post" action="/" enctype="multipart/form-data">
                    <div class="form-control">
                        <input type="file" name="file" autocomplete="off" class="input" required>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-submit">
                </form>
            </div>
        </div>

    </section>
   
    <!-- Info -->
    <section class="info">
        <div class="container">
            <h3 class="info-heading text-center my-2 py-4">
                Thank you for choosing our application to analyze your photographs and obtain important EXIF data. Use this application to discover:
            </h3>

            <div class="grid grid-3 text-center my-5">
                <div>
                    <i class="fas fa-camera fa-5x"></i>
                    <h3>Camera Type That Took the Picture</h3>
                </div>
                <div>
                    <i class="fas fa-calendar fa-5x"></i>
                    <h3>Date the Photo was Taken</h3>
                </div>
                <div>
                    <i class="fas fa-location fa-5x"></i>
                    <h3>Location Where the Photo was Taken</h3>
                </div>
            </div>
            <h3 class="info-heading text-center my-4 py-3">
                Plus many more pieces of data pertaining to your photo!
            </h3>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-footer text-center py-5">
        <div class="container grid grid-3">
            <div>
                <h1>ImageMetrics</h1>
                <p>Copyright &copy; 2022</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="#">
                    <i class="fab fa-github fa-3x"></i>
                 </a>
            </div>
        </div>
    </footer>
</body>
</html>